
{{#each myRectangles}}
    <p>{{isValid}}</p>
<!--    {{#if isValid }}-->
<!--    <p><h3>This is my height {{height}}</h3></p>-->
<!--    <p><h3>This is my width {{width}}</h3></p>-->
<!--    <p>Valid dimensions</p>-->
<!--    {{else}}-->
<!--        <p>Not a valid dimension.</p>-->
<!--    {{/if}}-->
{{/each}}


