
{{#each myRectangles}}
    {{#if isValid}}
     <p>The Height is: {{height}}</p>
     <p>The Width is: {{width}}</p>
     <p>The Shape is: {{#if shape}}
       Square

     {{else}}
       Rectangle

     {{/if}}</p>
     {{else}}
     <p>Not valid dimensions</p>

    {{/if}}

{{/each}}


